<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectoidnp">

    <!-- Permiso de Internet para cargar los mapas -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permiso opcional para leer y escribir en el almacenamiento (usado para el caché de mapas) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <!-- Permiso para mantener el dispositivo despierto mientras se reproduce música -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Definir la actividad principal con un intent-filter -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declaración del servicio para la reproducción de música -->
        <service
            android:name=".MusicService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

    </application>

</manifest>


